<section class="newsletter">
    <div class="container">
        <div class="newsletter-main justify-content-center d-flex">
            <div
                class="newsletter-content justify-content-center d-flex"
            >
                <div class="newsletter-inner my-4">
                    <h5>Newsletter</h5>
                    <h3>
                        Get the letest update weeakly with enhanced
                        content.
                    </h3>
                    <div class="newsletter-form my-4">
                        <form action="/">
                            <input
                                type="email"
                                name="newsletter"
                                id="newsletter"
                                placeholder="Enter your email"
                            />
                            <button
                                type="submit"
                                class="btn btn-warning"
                            >
                                Subscribe &nbsp;<span
                                ><i class="bi bi-arrow-right"></i
                            ></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer">
    <footer>
        <div class="container-fluid">
            <div class="container my-5">
                <div class="row">
                    <div class="col">
                        <ul>
                            <h5 class="my-3">Contact</h5>
                            <li><a href="#">Bindusar Hamid</a></li>
                            <li><a href="#">Vill + Po Bindusar Hamid</a></li>
                            <li><a href="#">Siwan (Bihar)</a></li>
                            <li><a href="#">841226</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <h5 class="my-3">Quick Links</h5>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Course</a></li>
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <h5 class="my-3">Terms/Policy</h5>
                            <li><a href="#">Institute</a></li>
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">Fee</a></li>
                            <li><a href="#">Career</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright d-flex justify-content-center">
                <h6>&copy; &nbsp; <span class="year" id="year"></span> All Rights reserved &nbsp; | &nbsp;<a href="/">Patna ITI</a></h6>

            </div>
        </div>
    </footer>
</section>



    <!-- JavaScript Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"
    ></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>